/* FONT-STYLE-START */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body {
  font-family: "Poppins", sans-serif;
  margin: 0%; 
}
/* FONT-STYLE-END */

/* MAIN-PART WITH ANIMATION */
.top-container {
  background-color: #1c11b4;
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: hidden;
}

.top-text a {
  padding: 10px 20px;
  background-color: #d81f63;
  color: #ffffff;
  text-decoration: none;
  margin-left: 75px;
}
.top-text h1 {
    font-size: 60px;
    color: white;
    margin: 75px;
  }

.top-photo img {
  width: 556px;
  height: 438px;
  margin-left: 20px;
  padding: 70px;
  transition: transform 1s;
}
.top-photo img:hover {
  transform: scale(1.2); 
}
/* MAIN PART WITH ANIMATION END */

/* BLOG-STYLE-START */
.players-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  grid-gap: 25px;
  margin-top: 65px;
}
.players-blog {
 background-color: #FFFFFF;
  width: 330px;
  height: 474px;
  box-shadow: -4px 13px 15px 17px #e4dbdb; 
}
.player {
  padding: 20px;
} 
.player h3, p {
    width: 100%;
    height: 100%;
}

.player img {
  width: 300px;
  height: 256px;
}


/* BLOG-STYLE-END */

/* EXTRA-SECTTION */
/* UNFORTUNATELY MY BRAIN STOPPED */

.name-color{
    color:rgb(21, 187, 137);
}
.hover:hover{
    background-color:aquamarine;
    margin-left: 400px;
    color:red;
}
.six:hover{
    font-size:70px;
    background-color:palevioletred ;
    border-radius: 30px;
    
}
.eight:hover{
    font-size: 70px;
    background-color:palevioletred ;
    border-radius: 30px;
    
}

/* FOOTER-START*/
.footer {
  margin-top: 180px;
}
 .footer img {
 width: 260px;
 display: block; 
 margin: auto; 
}
.footer div {
  text-align: center;
  margin: 20px;
  margin-left: 70px;
}
.fa-instagram,.fa-futbol,.fa-twitter,.fa-facebook-messenger {
 
  padding: 10px;
  border-radius:40px;
  background-color:#969BAB;
}
#copyright {
  text-align: center;
}
/*FOOTER-END*/

/* MEDIA QUERIES */
/* MOBILE DEVICES */

@media only screen and (max-width:824px)
{
.top-container {
    justify-content:space-between;
    flex-wrap: wrap; 
   
  }
  .top-photo img {
    width: 356px;
    height: 318;
    margin-left: -28px;
    margin-top: 53px;
    flex-direction: column;
  }
  .name-color{
    color:rgb(21, 187, 137);
}
.hover:hover{
    background-color:aquamarine;
    margin-left: 400px;
    color:red;
}
.six:hover{
    font-size:70px;
    background-color:palevioletred ;
    border-radius: 30px;
    
}
.eight:hover{
    font-size: 70px;
    background-color:palevioletred ;
    border-radius: 30px;
    
}
}
/* TABLET DEVICES */

@media only screen and (min-width: 320px) and (max-width: 1336px)
 {
    .top-container {
      justify-content: space-around;
      flex-wrap: wrap;
    }
    .top-text h1 {
      font-size: 37px;
    }
    .top-photo img {
        width: 356.01px;
        height: 318px;
        margin-left:-28px;
        margin-top: 53px;
      }
      .name-color{
        color:rgb(21, 187, 137);
    }
    .hover:hover{
        background-color:aquamarine;
        margin-left: 400px;
        color:red;
    }
    .six:hover{
        font-size:70px;
        background-color:palevioletred ;
        border-radius: 30px;
        
    }
    .eight:hover{
        font-size: 70px;
        background-color:palevioletred ;
        border-radius: 30px;
        
    }
}